.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.742676;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.110840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.743164;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.995605;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.832031;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-ms-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-webkit-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);}
.m1{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m2{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.032000px;}
._1{width:63.600000px;}
.fc7{color:rgb(5,99,193);}
.fc6{color:rgb(255,255,255);}
.fc4{color:rgb(33,41,52);}
.fc1{color:rgb(191,191,191);}
.fc0{color:rgb(127,127,127);}
.fc2{color:rgb(0,211,237);}
.fc5{color:rgb(89,89,89);}
.fc3{color:rgb(68,84,106);}
.fs1{font-size:32.000000px;}
.fs7{font-size:42.000000px;}
.fs6{font-size:56.000000px;}
.fs5{font-size:72.000000px;}
.fs2{font-size:76.260440px;}
.fs9{font-size:80.000000px;}
.fs8{font-size:96.000000px;}
.fs3{font-size:101.680586px;}
.fs0{font-size:118.627350px;}
.fs4{font-size:120.000000px;}
.y0{bottom:0.000000px;}
.y21{bottom:112.151337px;}
.y8{bottom:142.245392px;}
.y1a{bottom:146.475693px;}
.y19{bottom:165.375702px;}
.y13{bottom:183.607002px;}
.y7{bottom:197.228653px;}
.y12{bottom:202.507004px;}
.y18{bottom:203.175697px;}
.y3{bottom:214.218445px;}
.ye{bottom:214.899292px;}
.y11{bottom:221.407005px;}
.y20{bottom:221.517090px;}
.y17{bottom:222.075699px;}
.yd{bottom:234.944115px;}
.y10{bottom:240.307007px;}
.y6{bottom:240.428656px;}
.y16{bottom:240.975700px;}
.y2{bottom:258.076595px;}
.y15{bottom:259.875702px;}
.yf{bottom:260.351830px;}
.y1f{bottom:264.372894px;}
.y1{bottom:279.018448px;}
.y14{bottom:279.920525px;}
.yc{bottom:306.375206px;}
.y1e{bottom:307.572891px;}
.y5{bottom:307.947353px;}
.y1b{bottom:308.834133px;}
.yb{bottom:325.275208px;}
.ya{bottom:345.320030px;}
.y1d{bottom:352.735443px;}
.y22{bottom:370.391692px;}
.y9{bottom:399.515182px;}
.y1c{bottom:435.197723px;}
.y4{bottom:484.178722px;}
.h2{height:27.812500px;}
.h7{height:36.503906px;}
.h6{height:48.562500px;}
.hc{height:48.671875px;}
.hb{height:61.562500px;}
.h5{height:62.437500px;}
.ha{height:73.875000px;}
.h3{height:74.274491px;}
.h8{height:83.250000px;}
.h9{height:83.437500px;}
.h1{height:86.653572px;}
.h4{height:104.062500px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x4{left:41.553543px;}
.x16{left:64.988656px;}
.x1a{left:67.290968px;}
.x17{left:103.212585px;}
.x5{left:215.778839px;}
.x6{left:295.667084px;}
.x7{left:371.103600px;}
.x3{left:388.719727px;}
.x8{left:395.814049px;}
.x1{left:406.035156px;}
.x15{left:414.726562px;}
.x2{left:431.875000px;}
.x9{left:622.570257px;}
.x18{left:629.692871px;}
.xa{left:662.596313px;}
.xc{left:670.545044px;}
.xe{left:671.732544px;}
.x12{left:678.795288px;}
.x13{left:679.905518px;}
.x14{left:683.232788px;}
.xd{left:694.974247px;}
.xb{left:699.373173px;}
.xf{left:708.834110px;}
.x10{left:711.045044px;}
.x11{left:715.834351px;}
.x19{left:765.696777px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:1.376000pt;}
._1{width:84.800000pt;}
.fs1{font-size:42.666667pt;}
.fs7{font-size:56.000000pt;}
.fs6{font-size:74.666667pt;}
.fs5{font-size:96.000000pt;}
.fs2{font-size:101.680586pt;}
.fs9{font-size:106.666667pt;}
.fs8{font-size:128.000000pt;}
.fs3{font-size:135.574115pt;}
.fs0{font-size:158.169801pt;}
.fs4{font-size:160.000000pt;}
.y0{bottom:0.000000pt;}
.y21{bottom:149.535116pt;}
.y8{bottom:189.660522pt;}
.y1a{bottom:195.300924pt;}
.y19{bottom:220.500936pt;}
.y13{bottom:244.809336pt;}
.y7{bottom:262.971537pt;}
.y12{bottom:270.009338pt;}
.y18{bottom:270.900930pt;}
.y3{bottom:285.624593pt;}
.ye{bottom:286.532389pt;}
.y11{bottom:295.209340pt;}
.y20{bottom:295.356120pt;}
.y17{bottom:296.100932pt;}
.yd{bottom:313.258820pt;}
.y10{bottom:320.409342pt;}
.y6{bottom:320.571541pt;}
.y16{bottom:321.300934pt;}
.y2{bottom:344.102127pt;}
.y15{bottom:346.500936pt;}
.yf{bottom:347.135773pt;}
.y1f{bottom:352.497192pt;}
.y1{bottom:372.024597pt;}
.y14{bottom:373.227366pt;}
.yc{bottom:408.500275pt;}
.y1e{bottom:410.097188pt;}
.y5{bottom:410.596471pt;}
.y1b{bottom:411.778844pt;}
.yb{bottom:433.700277pt;}
.ya{bottom:460.426707pt;}
.y1d{bottom:470.313924pt;}
.y22{bottom:493.855590pt;}
.y9{bottom:532.686910pt;}
.y1c{bottom:580.263631pt;}
.y4{bottom:645.571630pt;}
.h2{height:37.083333pt;}
.h7{height:48.671875pt;}
.h6{height:64.750000pt;}
.hc{height:64.895833pt;}
.hb{height:82.083333pt;}
.h5{height:83.250000pt;}
.ha{height:98.500000pt;}
.h3{height:99.032654pt;}
.h8{height:111.000000pt;}
.h9{height:111.250000pt;}
.h1{height:115.538097pt;}
.h4{height:138.750000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x4{left:55.404724pt;}
.x16{left:86.651541pt;}
.x1a{left:89.721291pt;}
.x17{left:137.616781pt;}
.x5{left:287.705119pt;}
.x6{left:394.222778pt;}
.x7{left:494.804799pt;}
.x3{left:518.292969pt;}
.x8{left:527.752065pt;}
.x1{left:541.380208pt;}
.x15{left:552.968750pt;}
.x2{left:575.833333pt;}
.x9{left:830.093676pt;}
.x18{left:839.590495pt;}
.xa{left:883.461751pt;}
.xc{left:894.060059pt;}
.xe{left:895.643392pt;}
.x12{left:905.060384pt;}
.x13{left:906.540690pt;}
.x14{left:910.977051pt;}
.xd{left:926.632329pt;}
.xb{left:932.497564pt;}
.xf{left:945.112147pt;}
.x10{left:948.060059pt;}
.x11{left:954.445801pt;}
.x19{left:1020.929036pt;}
}
